
<div class="d-grid gap-2">
  <div>
  <div>
    <h1>Votre Question :</h1>
    <p><%= @question %></p></div>
  <div></div>
</div></div>

  <div class="p-2 bg-light border">  <div>
    <h2>Réponse du Coach :</h2>
    <p><%= @answer %></p>
  </div>
</div></div>
<%= link_to "Autre Question", ask_path %>
</div>
